html, body, #app, #app>div, .app{
  height: 100%;
}
body{
    margin: 0;
    background-color: #f5f5f5;
    overflow: hidden;
}
*{
  /*font-weight: 200;*/
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.col{
  display: flex;
  flex-direction: column;
}
.flexRow{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#header{
  height: 50px;
  box-shadow: 0 2px 2px rgba(0,0,0,.05), 0 1px 0 rgba(0,0,0,.05);
  padding-left: 40px;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
#header-logo{
  width:  40px;
  height: 40px;
  margin-top: 5px;
  display: inline-block;
  float: left;
}
#header-name{
  margin-left: 10px;
  line-height: 50px;
  color: blue;
  display: inline-block;
  float: left;
  font-size: large;
  font-weight: 100;
}
#headerButtons{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 11;
  height: 50px;
  margin-top: 10px;
  margin-right: 10px;
}
#viewNameBar{
  height: 50px;
  background-color: #f6f8f8;
  line-height: 50px;
  padding-left: 40px;
  font-size: x-large;
  font-weight: 100;
  border-bottom: 1px solid #DEE5E7;
}
h2{
  margin-top: 10px;
  color:blue;
  font-weight: 200;
}
h4{
  font-weight: 200;
}
h6{
  font-weight:lighter;
}

.tabs{
  background-color: white;
  margin: 20px 40px 40px 40px;
  padding: 20px;
  border: 1px solid #dee5e7;
  height: 80vh;
  overflow: scroll;
  position: relative;
}

.tabs.tabs75{
  height: 75vh;
}

#progressBar{
  margin: 20px 40px 20px 40px;
}
.helpText{
  text-align: left;
  color: #F55656;
  font-style: italic;
}
.successText{
  text-align: left;
  color: #66b266;
  font-style: italic;
}
.errorField{
  background-color: #feeeee;
}
.panelHeader{
  width: 100%;
  height: 60px;
  line-height: 60px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: white;
  /*border-bottom: 1px solid #e5e5e5;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pt-tab-panel{
  width: 100%;
}
.verticalTabLayout{
  margin-top: 50px;
  display: flex;
  height: 100%;
  width: 100%;
}
.verticalTabBar{
  width: 200px;
  background-color: white;
  border-right: 1px solid #e5e5e5;
}
.verticalTab{
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
  font-weight: 100;
  font-size: small;
  border-bottom: 1px solid #e5e5e5;
}
.verticalTab:active, .verticalTab:hover{
  background-color: #e5e5e5;
}
.verticalTabPanel{
  flex:1;
}
.cellLabel{
  min-height: 30px;
  line-height: 30px;
  color: #404040;
  font-weight: 500;
}

.tableHeader{
  display: flex;
  border-top: 1px solid #e5e5e5;
  padding: 5px;
}
.tableHeaderText{
  min-height: 30px;
  line-height: 30px;
  color: #404040;
  font-weight: 500;
}
.tableRowCell{
  display: flex;
  align-items: center;
  justify-content: center;
}
.tableRow{
  border-top: 1px solid #e5e5e5;
  padding: 5px;
  min-height: 60px;
  display: flex;
}
.tableRowCategoryName{
  border-top: 1px solid #e5e5e5;
  padding: 5px;
  padding-left: 40px;
  height: 30px;
  font-style: italic;
  color: grey;
}

#react-paginate{
  border-top: 1px solid #e5e5e5;
  padding: 5px;
  text-align: center;
  width: 95%;
  position: absolute;
  bottom: 0;
}
#react-paginate ul {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

#react-paginate li {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-left: 0;
}
#react-paginate li:hover {
  background-color: #e5e5e5;
}
#react-paginate li:first-child{
    border-left: 1px solid #e5e5e5;
}

#react-paginate .break a {
    cursor: default;
}
.red{
  color: #ff4c4c;
}
.green{
  color: #7fbf7f;
}
.grey{
  color: #4c4c4c;
}

.pt-input-blueShadowDisable:focus{
  box-shadow: 0 0 0 0 rgba(19, 124, 189, 0), 0 0 0 0 rgba(19, 124, 189, 0), inset 0 0 0 1px rgba(16, 22, 26, 0.15), inset 0 1px 1px rgba(16, 22, 26, 0.2);
}

.dropDown{
  max-height: 200px;
  overflow-y: scroll;
}

.ImagesContainer{
  justify-content: flex-start;
  overflow-x: scroll;
}

/*
.pt-tabs.pt-horizontal {
  display: -webkit-flex;
  display: flex;
}

.pt-tabs.pt-horizontal .pt-tab-list {
    width: 100%;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-align-items: flex-start;
            align-items: flex-start;
}

.pt-tabs.pt-horizontal .pt-tab {
  flex-basis : 25%;
  padding: 10px 0px;
}

.pt-tabs.pt-horizontal .pt-tab-indicator-wrapper .pt-tab-indicator {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 3px;
  background-color: rgba(19, 124, 189, 0.2);
  height: auto;
}

.pt-tabs.pt-horizontal .pt-tab-panel {
  margin-top: 0;
  padding-left: 20px;
}*/

/*
.pt-tabs.pt-vertical {
  display: -webkit-flex;
  display: flex;
}
.pt-tabs.horizontalTabs .pt-tab-list {
  flex-direction: row;
  flex-basis: 25%;
  align-items: flex-start;
}*/
